* {
  box-sizing: border-box;
}

html, body {
  margin: 0;

  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'OpenSans', 'Open Sans', 'sans-serif';
}

.container {
  margin-bottom: 20px;

  display: flex;
  width: 360px;

  flex-direction: column;
  flex-wrap: wrap;
}

.container-title {
  margin-bottom: 20px;

  color: #A0A0A0;
  font-size: 18px;
  font-weight: 700;
}

.input-container {
  flex: 1;

  position: relative;
}

.input {
  border: solid 1px #212121;

  width: 100%;
  height: 44px;

  padding: 5px 55px 5px 10px;

  color: #212121;
  font-size: 14px;

  outline-color: #E95A1C;
}

.reset-button {
  border: none;

  height: 44px;

  padding: 0 7px;

  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;

  color: #A0A0A0;
  font-size: 14px;
  font-weight: 700;

  outline: none;

  cursor: pointer;
}

.dropdown {
  margin-top: 20px;

  border: solid 1px #212121;

  width: 100%;
  height: auto;
  max-height: 384px;

  position: absolute;
  top: 48px;

  visibility: visible;
  opacity: 1;

  overflow: auto;

  transition: all .3s cubic-bezier(0.55, 0, 0.1, 1);
}

.dropdown--jq {
  position: static;
  top: inherit;
}

.dropdown-section {
  flex: 1;
}

.dropdown-section-title, .ui-autocomplete-category {
  width: 100%;

  padding: 0 10px;

  background-color: #D7D7D7;

  color: #909090;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.dropdown-list, .ui-autocomplete {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-before: 0;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;

  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

.ui-autocomplete {
  width: 360px !important;
  max-height: 420px !important;

  top: 0 !important;
}

.dropdown-link, .ui-menu-item {
  display: flex;
  flex: 1;

  padding-left: 10px;

  position: relative;

  color: #212121;
  font-size: 14px;
  line-height: 48px;
  text-decoration: none;
}

.dropdown-link:hover, .ui-menu-item:hover {
  background-color: #E95A1C;
  
  color: #FAFAFA;
}

.dropdown-link-count {
  position: absolute;
  right: 10px;
}

.invisible, .ui-helper-hidden-accessible {
  border: none;

  width: 0;
  height: 0;

  visibility: collapse;
  opacity: 0;
}